Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy==1.21.4
scipy==1.7.1
scikit-learn==0.24.2
matplotlib==3.4.3
pandas==1.2.4
seaborn==0.11.2
plotly==5.3.1
mplcyberpunk==0.3.0
darts==0.12.0
fbprophet==0.7.1
pmdarima==1.8.3
statsmodels==0.13.0
chart-studio==1.1.0
cmdstanpy==0.9.68

