Flask==2.0.2
gunicorn==19.9.0
itsdangerous==2.0.1
Jinja2==2.11.3
MarkupSafe==2.0.1
Werkzeug==2.0.1
numpy==1.22.1
scipy==1.7.1
scikit-learn==0.24.2
matplotlib==3.4.3
pandas==1.2.4
seaborn==0.11.2
plotly==5.3.1
mplcyberpunk==0.3.0
darts==0.12.0
prophet==1.0.1
fbprophet==0.7.1
pmdarima==1.8.3
statsmodels==0.13.0
chart-studio==1.1.0


